<% provide :title, '昌麒生态园-基地风光' %>

<div class="row small-up-1 large-up-2">
    <%@menu_brands.each do |brand|%>
    <div class="column callout alert">
    <%=link_to brand_path(brand) do%>
    <h4>[<%=brand.brand_name%>]<%=brand.brand_slogan%></h4>
            <%=image_tag brand.brand_logo,:alt=>brand.brand_name, class: "thumbnail"%>
    <%end%>
    </div>
    <%end if @menu_brands%>
</div>
<hr>

<%=render "shared/metable", :resource=>nil%>

<%=content_for :cover do%>
	<%=raw Ecstore::Config.get(:brand_cover) %>
<%end%>

