<div class="order-holder">
  <%=form_for :payment,:url=>payments_path(:order_id=>@order.order_id),:method=>'post',:html=>{ :target=>"_blank" } do |f|%>
      <%=f.hidden_field :currency, :value=>"CNY" %>
      
      <div class="order">
        <div class="title">订单已经成功提交!</div>
        <p>订单编号: <span><%=@order.order_id%></span>
          &nbsp;&nbsp;&nbsp;
          支付金额: ¥<span id="final_pay"><%#=@order.final_pay.round%><%=@order.final_amount.round%></span>
          &nbsp;&nbsp;&nbsp;
          <span id="products_total" data-amount="<%=@order.products_total%>"></span>
          订单状态: <span class="status"><%=@order.order_status_text%></span>

          <span id="pmts_total" class="hide" data-amount="<%=@order.pmts_total%>"></span>
        </p>
        <%=link_to "查看订单详细信息>>",detail_order_path(@order),:target=>"_blank"%>
      </div>

      <div class="payment">
        <span class="title"><%=payments[@order.payment][:name] if @order.payment%></span>
        <%if @order.status == 'active' && @order.pay_status == '0'%>
            <a href="#" class="change" id="change_payment">更改支付方式>> </a>
        <%end%>
        <div><%=payments[@order.payment][:extra].html_safe  if @order.payment%></div>
      </div>

      <div class="payments" id="payment_choices">
        <h5>已选择的支付方式现修改为：</h5>

        <%if @order.part_pay?%>
            <label class="checkbox">
              <%=f.check_box :part_pay, { :checked=>true, :'data-amount'=>@order.part_pay.to_i,:id=>"advance" }, @order.part_pay.to_i, 0%> <b>会员卡积分先支付</b>
              余额(<span>¥<%=@order.part_pay.to_i%></span>)
            </label>
        <%end%>        
        <%#if @user.advance >= @order.final_amount%>
            <label class="radio">
              <%=f.radio_button :pay_app_id, "deposit", { :checked=>(@order.payment == 'deposit') } %> <b>会员卡积分</b>
            </label>
        <%#end%>

        <label class="radio">
          <%=f.radio_button :pay_app_id, "wxpay", { :checked=>(@order.payment == 'wxpay') }%> <b>微信支付</b>
        </label>

      <div class="actions">
        <div>支付成功后，可以在<%=link_to "订单详情",detail_order_path(@order),:target=>"_blank"%>处查看订单和追踪订单状态</div>
        <br>
        <%=f.submit "安全支付",:class=>"button  button-success button-lg" if @order.pay_status == '0' && @order.status == 'active' && @order.payment != 'offline' %>
      </div>
  <%end%>
</div>
