<% provide :title, '昌麒生态园-订单支付' %>

<div class="row">
  <div class="medium-6 large-4 columns">
    <div class="callout secondary">
      <%=form_for :card,:url=>pay_cards_path do |f|%>
      <div class="row">
        <div class="small-12 columns">
          <label>订单编号
            <%=f.text_field :order_id,readonly:'true',:required=>"required",value:@order.order_id%>
          </label>
        </div>
        <div class="small-12 columns">
          <label>订单金额
            <%=f.text_field :amount,readonly:'true',:required=>"required",value:@order.final_amount%>
          </label>
        </div>
        <div class="small-12 columns">
          <label>您的会员卡号
            <%=f.text_field :card_id,readonly:'true',:required=>"required",value:@user.card_num%>
          </label>
        </div>
        <div class="small-12 columns">
          <label>
            <%=f.password_field :password,placeholder:'密码',:required=>"required"%>
          </label>
          <%=f.submit "提 交",:class=>"button expanded"%>
        </div>
      </div>
      <%end%>
    </div>
  </div>
</div>
<div class="order-holder">
  <%=form_for :payment,:url=>payments_path(:order_id=>@order.order_id), method: 'post',:html=>{ :target=>"_blank" } do |f|%>
      <%=f.hidden_field :currency, :value=>"CNY" %>
      
      <div class="order">
        <div class="title">订单已经成功提交!</div>
        <p>订单编号: <span><%=@order.order_id%></span>
          &nbsp;&nbsp;&nbsp;
          支付金额: ¥<span id="final_pay"><%#=@order.final_pay.round%><%=@order.final_amount.round%></span>
          &nbsp;&nbsp;&nbsp;
          <span id="products_total" data-amount="<%=@order.products_total%>"></span>
          订单状态: <span class="status"><%=@order.order_status_text%></span>

          <span id="pmts_total" class="hide" data-amount="<%=@order.pmts_total%>"></span>
        </p>
        <%=link_to "查看订单详细信息>>",detail_order_path(@order),:target=>"_blank"%>
      </div>

      <div class="payment">
        <span class="title"><%=payments[@order.payment][:name] if @order.payment%></span>
        <%if @order.status == 'active' && @order.pay_status == '0'%>
            <a href="#" class="change" id="change_payment">更改支付方式>> </a>
        <%end%>
        <div><%=payments[@order.payment][:extra].html_safe  if @order.payment%></div>
      </div>

      <div class="payments" id="payment_choices">
        <h5>支付方式现修改为：</h5>

       
            <label class="radio">
              <%=f.radio_button :pay_app_id, "deposit", { :checked=>(@order.payment == 'deposit') } %> <b>会员卡积分</b>
            </label>
      <div class="actions">
        <div>支付成功后，可以在<%=link_to "订单详情",detail_order_path(@order),:target=>"_blank"%>处查看订单和追踪订单状态</div>
        <br>
        <%=f.submit "安全支付",:class=>"button  button-success button-lg" if @order.pay_status == '0' && @order.status == 'active' && @order.payment != 'offline' %>
      </div>
  <%end%>
</div>
