<% provide :title, '会员卡激活-会员卡信息' %>
	<h4>还没有激活您的会员卡，请按以下提示操作，激活您的会员卡 </h4>
	<h4>第二步：请填写会员卡卡号密码</h4>
       
<%=form_for :card, :url=>cards_path,:method=>:post,:html=>{:role=>"form",data: {type: "script"}} do |f|%>    
    <div class="row">
        <div class="columns small-12">
            <div class="form-group">
                <%=f.text_field :no,:placeholder=>"*卡号",:required=>"required"%>
            </div>
            <div class="help-block" rel="user_name"></div>
        </div>                           
    </div> 
    <div class="row">
        <div class="columns small-12">
            <div class="form-group">
                <%=f.password_field :password,value:"",:placeholder=>"*卡密码",:required=>"required"%>
            </div>
            <div class="help-block" rel="user_name"></div>
        </div>                           
    </div> 
     <div class="row">
        <div class="columns small-12">  
            <div class="help-block" style="color:red">*打星号的为必填项*</div>                                 
            <div class="expanded button-group">
                <%=link_to '暂不激活', root_path, class:'button hollow alert float-center'%>
                 <%=f.submit "下一步",:class=>"button alert expanded"%>  
            </div>
        </div>
    </div>
<%end%>        