<% provide :title, '昌麒生态园-亲情卡信息' %>
<%=render partial: 'breadcrembs' , locals:{current:'亲情卡信息'}%>
<!-- <%= form_for :subcards, data: {abide: ''} do|f| %>
    <%#= render 'layouts/form_errors', object: @subcards%>
      <table class="table">
        <thead>
          <tr>
            <th> <%#= f.label :start_time %>
              <%= f.text_field :start_time, :value => '', required: true,:class=>"fdatepicker",:id=>"dpd2",placeholder:'开始时间'%>
            </th>
            <th><%#= f.label :end_time %>
             <%= f.text_field :end_time, :value =>'',  required: true,:class=>"fdatepicker",:id=>"dpd1",placeholder:'结束时间'%>
           </th>
         </tr>
       </thead>
     </table>
      <%=f.submit '查询', class: 'button expanded'%>
<%end%> -->


<table class="table table-striped" id="subcard_list">
  <tr>
    <th>亲情卡号</th>
    <th>激活状态</th>
    <th>已提现</th>
    <th>未提现</th>
  </tr>

  <%@subcards.each  do |subcard|%>
      <tr>
        <td><%=subcard.no%></td>
        <td><%=subcard.use_status ?  "<i class='fa fa-check'></i>".html_safe : "<i class='fa fa-times'></i>".html_safe%></td>
        <td>¥<%=subcard.card_trading_logs.select{ |trading| trading.parent_rebate_id}.collect{ |trading| trading.amount}.inject(:+).to_i*0.1%></td>  
        <td>¥<%=subcard.card_trading_logs.select{ |trading| trading.parent_rebate_id.nil? }.collect{ |trading| trading.amount}.inject(:+).to_i*0.1%></td>  
      </tr>
  <%end if @subcards%>
  <%if @subcards.blank?%>
  <tr><td colspan='4'>暂无亲情卡记录</td></tr>
  <%end%>

</table>