<% provide :title, '昌麒生态园-会员卡交易记录' %>
<%=render partial: 'breadcrembs' , locals:{current:'会员卡交易记录'}%>
<!-- <%= form_for :tradings_log, data: {abide: ''} do|f| %>
    <%#= render 'layouts/form_errors', object: @rebates%>
      <table class="table">
        <thead>
          <tr>
            <th> <%#= f.label :start_time %>
              <%= f.text_field :start_time, :value => '', required: true,:class=>"fdatepicker",:id=>"dpd2",placeholder:'开始时间'%>
            </th>
            <th><%#= f.label :end_time %>
             <%= f.text_field :end_time, :value =>'',  required: true,:class=>"fdatepicker",:id=>"dpd1",placeholder:'结束时间'%>
           </th>
         </tr>
       </thead>
     </table>
      <%=f.submit '查询', class: 'button expanded'%>
<%end%> -->

<div class='button-group'>
  <%=link_to '未提现', tradings_cards_path(status:0),class:"button hollow #{@no}"%>
  <%=link_to '已提现', tradings_cards_path(status:1),class:"button hollow #{@yes}"%>
  <%if @status == '0' && @tradings%>
    <%=link_to '申请提现', withdrawl_cards_path ,class:'button expaned'%>
  <%end%>
</div>
<table class="table table-striped" id="rebate_list">
  <tr>
    <th>交易号</th>
    <th>交易时间</th>
    <th>交易金额</th>
    <th>提现金额</th>
  </tr>

  <%@tradings.each  do |trading|%>
      <tr>
        <td><%=trading.order_id%></td>
        <td><%=trading.created_at%></td>
        <td>¥<%=trading.amount%></td>
        <td>¥<%=trading.amount*0.1%></td>      
      </tr>
  <%end if @tradings%>
  <%if @tradings.blank?%>
  <tr><td colspan='4'>暂无交易记录</td></tr>
  <%end%>

</table>