<% provide :title, '昌麒生态园-订单列表' %>
<%=render partial: '/memberships/cards/breadcrembs' , locals:{current:'我的订单'}%>
<div class="button-group">
    <%=link_to "待付款订单",orders_member_path(:pay_status=>'0',:status=>'active'),class:"button hollow alert #{@unpaid}"%></li>
    <%=link_to "已付款订单",orders_member_path(:pay_status=>'1',:status=>'paid'),class:"button hollow alert #{@paid}"%></li>
    <%=link_to "已完成订单",orders_member_path,class:"button hollow alert #{@history}"%></li>
</div>
<table class="hover" id="order_list">
 <!--  <tr>
    <th>订单号</th>
    <th>下单时间</th>
    <th>金额</th>
    <th >状态</th>
    <th>操作</th>
  </tr> -->

<%@orders.each  do |order|%>
    <tr>
        <td>
        <div class='row'>
			<div class="columns small-12,medium-3">
        		订单编号：<%=link_to order.order_id, order_path(order)%>
        	</div>
        	<div class="columns small-12,medium-2">
        		下单时间：<%=order.created_at%>
        	</div>
        	<div class="columns small-12,medium-2">
        		订单金额：¥<%=(order.final_amount).round%>
        	</div>
        	<!-- <div class="columns small-12,medium-2">
        		订单状态：<%=order.status_text%>
        	</div> -->
        	<div class="columns small-12,medium-3 ">
        		<%=link_to "订单详情",detail_order_path(order),:target=>"_blank", class:'button secondary hollow'%>
          		<%=link_to "去付款",order_path(order),class:'button hollow',:target=>"_blank" if order.status == 'active' && order.pay_status=='0'%>
        	</div>
    	</div>
        </td>
    </tr>
<%end%>

</table>

	<div class="pagination">
		<%=will_paginate @orders,:container=>false%>
	</div>
	