<table class="hover" id="cart">
  <%@line_items.select{ |x| x.good.present? && x.product.present? }.each do |line_item|%>
  <tr><td colspan='3' id='line_<%=line_item.obj_ident%>'>
    <div class="row" >
      <div class="columns small-4">
        <%=link_to good_path(line_item.good.bn),:target=>"_blank" do%>
          <%=image_tag line_item.good.medium_pic, class:"thumbnail"%>
        <%end%>
      </div>
      <div class="columns small-8">
        <div class="row">
          <div class="columns small-12">
            <h4>
              <%if line_item.good.default_image&&line_item.product.list_pictures.first.blank?%>
                <%=link_to line_item.product.name,"/product-"+line_item.good.goods_id.to_s+".html",:target=>"_blank"%>
              <%else%>
                <%=link_to line_item.product.name,good_path(line_item.good.bn),:target=>"_blank"%>
              <%end%>
            </h4>
            <span><%=line_item.product.spec_info%></span>
            <div class="cus-text">
                <%line_item.product.custom_spec_values_of(@user).each_with_index do |cus,idx|%>
                  <%=idx+1%> : <%=cus%> <br />
                <%end%>
            </div>
          </div>
          <div class="small-3 columns">
            <label for="middle-label" class="text-left middle">&<%= format('%.2f',line_item.product.price)%>&nbsp;X</label>
          </div>
          <div class="columns small-4">
              <%=number_field_tag :quantity,line_item.quantity.to_i,:class=>"textcenter quantity bn-#{line_item.product.good.bn}",:size=>3,:min=>1,:'data-url'=>cart_path(line_item.obj_ident)%>
          </div>
          <div class="columns small-3"%>
            <label for="middle-label" class="text-right middle  line-total">¥<%=line_item.product.price*line_item.quantity%></label>
             
          </div>
          <div class="columns small-12">
            <!--
            <%=link_to "取消收藏",unfav_good_path(line_item.good,:rel=>"line_#{line_item.obj_ident}"),:class=>"favorite",:remote=>true,:method=>:put if line_item.good.favorited_by?(@user)%>
            <%=link_to "收藏",fav_good_path(line_item.good,:rel=>"line_#{line_item.obj_ident}"),:class=>"favorite",:remote=>true,:method=>:put unless line_item.good.favorited_by?(@user)%>
            -->
            
            <%=link_to "删除",cart_path(line_item.obj_ident),:class=>"button alert hollow float-right tiny",:remote=>true,:method=>:delete%>
          </div>
        </div>
      </div>
    </div>
  </td></tr>
  <%end if @line_items%>
  <tr>
    <th>
      <%=link_to '继续购物', root_path, :class=>"button small alert hollow float-left"%>
    </th>
    <th>
      <span class="total">¥<%=@cart_total%></span>
    </th>
    <th>
      <%=link_to '安全结算', new_order_path, :class=>"button small alert hollow float-right"%>
    </th>
  <tr>
</table>




<script type="text/javascript">
      $(window.parent.document).find(".cart-number").text("(<%=@cart_total_quantity%>)");
</script>

<script type="text/javascript">
      $(window.document).find(".cart-number").text("(<%=@cart_total_quantity%>)");
</script>

  <script src="/assets/store/cart.js?body=1" type="text/javascript"></script>