<%=content_for :title do "VIP卡 | 昌麒投资" end%>
<%=content_for :keywords do "VIP卡,昌麒" end%>
<%=content_for :description do "昌麒投资" end%>
<%=content_for :head do%>
  <%= stylesheet_link_tag "memberships/vip" %>
<%end%>

      <section class="pricing" id="membership">
        <div class="container">
          <div class="box">
            <div class="center">
              <h1>会员专享</h1>
              <p class="lead">
                Members enjoy Preferential<br />
                会员消费卡尊享优惠</p>
              <p>
                &nbsp;</p>
            </div>
            <!--/.center-->
            <div class="row" id="pricing-table">
              <div class="col-sm-4">
                <ul class="plan featured">                  
                  <li>享有返利优惠（10%～20%）</li>
                  <li>不定期的赠送精美礼品</li>
                  <li>固定客服高效率服务</li>
                  <li>免费送货到家</li>
                </ul>
              </div>
              <!--/.col-sm-4-->
              <div class="col-sm-4">
                <ul class="plan">
                  <li class="plan-price">贵族自尊卡</li>
                  <li>预存：￥100000元</li>
                  <li class="plan-name">返利</li>
                  <li>第一年：20%</li>
                  <li>第二年：15%</li>
                  <li>二年以上：10%</li>
                  <li>免费送货到家</li>
                  <li class="plan-action">
                    <%if signed_in?%>                
                      <!-- <a class="btn btn-primary" href="/card/purchase?level=you">立刻申请</a> -->
                      <a class="btn btn-primary" href="/member/new?apply_type=3&return_url=<%=params[:return_url]%>">立刻申请</a>
                    <%else%>
                      <a class="btn btn-primary" href="/login?return_url=%2fvip">立刻申请</a>
                    <%end%>                    
                    <a class="btn btn-primary" href="<%=@return_url%>">以后再说</a>
                  </li>
                </ul>
              </div>
              <!--/.col-sm-4-->
              <div class="col-sm-4">
                <ul class="plan">
                  <li class="plan-price">万事如意卡</li>
                  <li>预存：￥200元</li>
                  <li class="plan-name">返利</li>
                  <li>第一年：10%</li>
                  <li>第二年：15%</li>
                  <li>二年以上：20%</li>
                  <li class="plan-action">
                    <%if signed_in?%>                
                      <!-- <a class="btn btn-primary" href="/card/purchase?level=you">立刻申请</a> -->
                       <a class="btn btn-primary" href="/member/new?apply_type=2&return_url=<%=params[:return_url]%>">立刻申请</a>
                    <%else%>
                      <a class="btn btn-primary" href="/login?return_url=%2fvip">立刻申请</a>
                    <%end%>

                    <a class="btn btn-primary" href="<%=@return_url%>">以后再说</a>
                  </li>
                </ul>
              </div>
              <!--/.col-sm-4-->
             
              
            </div>
          </div>
        </div>
      </section>

    
     