<% provide :title, '昌麒生态园-首页' %>

<div class="row small-up-2 medium-up-3 large-up-5">
    <%@goods.each do |goods|%>
    <div class="column">
        <%=link_to good_path(goods.bn), :target=>"_blank" do %>
            <%=image_tag goods.list_default_pic,:alt=>goods.name, class: "thumbnail"%>
        <%end%>
        <h6>
        <%=link_to good_path(goods.bn), :target=>"_blank" do %>
            <%=goods.name%>&nbsp;<%=goods.spec_info%>
        <%end%>        
        </h6>
        <p class='text-center'>
            <span class='price'><%=number_to_currency goods.price,:unit=>"¥",:precision=>2%></span>
            <span class='mktprice'><%=number_to_currency goods.mktprice,:unit=>"¥",:precision=>2%></span>
        </p>
        <a href="#" class="button expanded" style="display:none">Buy</a>
    </div>
    <%end if @goods%>
</div>
<hr>