<% provide :title, '昌麒生态园-首页' %>

<div class="row columns" style='display:none'>
    <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
            <li><a href="/">首页</a></li>
            <li><a href="/gallery/5">产品中心</a></li>
            <li class="disabled">产品详情</li>
            <li>
                <span class="show-for-sr">Current: </span> 产品详情
            </li>
        </ul>
    </nav>
</div>

<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit style='display:none'>
    <ul class="orbit-container">
        <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
        <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
        <li class="orbit-slide is-active">
            <img src="http://placehold.it/2000x750">
        </li>
        <li class="orbit-slide">
            <img src="http://placehold.it/2000x750">
        </li>
        <li class="orbit-slide">
            <img src="http://placehold.it/2000x750">
        </li>
        <li class="orbit-slide">
            <img src="http://placehold.it/2000x750">
        </li>
    </ul>
</div>

<div class="row column text-center" style="display:none">
    <h2>Our Newest Products</h2>
    <hr>
</div>

<div class="row small-up-2 large-up-4">
    <%@goods.each do |goods|%>
    <div class="column">
        <%=link_to good_path(goods.bn), :target=>"_blank" do %>
            <%=image_tag goods.list_default_pic,:alt=>goods.name, class: "thumbnail"%>
        <%end%>
        <h5>
        <%=link_to good_path(goods.bn), :target=>"_blank" do %>
            <%=goods.name%>
        <%end%>        
        </h5>
        <p>
            <span style="color:red;font-size:2em;">&yen;<%=(goods.price*0.75).round if goods.price%></span>
            <span style="margin-left:1em;text-decoration:line-through;">&yen;<%=(goods.price*0.75).round if goods.price%> </span>
        </p>
        <a href="#" class="button expanded" style="display:none">Buy</a>
    </div>
    <%end if @goods%>
</div>
<hr>
<div class="row column">
    <div class="callout primary">
        <h3>Really big special this week on items.</h3>
    </div>
</div>
<hr>
<div class="row column text-center">
    <h2>Some Other Neat Products</h2>
    <hr>
</div>
<div class="row small-up-2 medium-up-3 large-up-6">
    <%@goods.each do |goods|%>
    <div class="column">
        <%=link_to good_path(goods.bn), :target=>"_blank" do %>
            <%=image_tag goods.list_default_pic,:alt=>goods.name, class: "thumbnail"%>
        <%end%>
         <h5>
        <%=link_to good_path(goods.bn), :target=>"_blank" do %>
            <%=goods.name%>
        <%end%>        
        </h5>
        <p>
            <span style="color:red;font-size:2em;">&yen;<%=(goods.price*0.75).round if goods.price%></span>
            <span style="margin-left:1em;text-decoration:line-through;">&yen;<%=(goods.price*0.75).round if goods.price%> </span>
        </p>
        <a href="#" class="button small expanded hollow">Buy</a>
    </div>   
    <%end if @goods%>
</div>
<hr>
<div class="row">
    <div class="medium-4 columns">
        <h4>Top Products</h4>
        <%@goods.each do |goods|%>
        <div class="media-object">
            <div class="media-object-section">
                <%=link_to good_path(goods.bn), :target=>"_blank" do %>
                    <%=image_tag goods.list_default_pic,:alt=>goods.name, class: "thumbnail"%>
                <%end%>
            </div>
            <div class="media-object-section">
                <h5>
                    <%=link_to good_path(goods.bn), :target=>"_blank" do %>
                        <%=goods.name%>
                    <%end%> 
                </h5>
                <p>
                    <span style="color:red;font-size:2em;">&yen;<%=(goods.price*0.75).round if goods.price%></span>
                    <span style="margin-left:1em;text-decoration:line-through;">&yen;<%=(goods.price*0.75).round if goods.price%> </span>
                </p>
            </div>
        </div>
        <%end if @goods%>
    </div>
</div>