<% provide :title, '昌麒生态园-首页' %>

<div class="row small-up-2 large-up-4">
    <%@goods.each do |goods|%>
    <div class="column">
        <%=link_to good_path(goods.bn), :target=>"_blank" do %>
            <%=image_tag goods.list_default_pic,:alt=>goods.name, class: "thumbnail"%>
        <%end%>
        <h6>
        <%=link_to good_path(goods.bn), :target=>"_blank" do %>
            <%=goods.name%>
        <%end%>        
        </h6>
        <p>
            <span style="color:red;font-size:1.5em;">&yen;<%=(goods.price*0.75).round if goods.price%></span>
            <span style="margin-left:1em;text-decoration:line-through;">&yen;<%=(goods.price*0.75).round if goods.price%> </span>
        </p>
        <a href="#" class="button expanded" style="display:none">Buy</a>
    </div>
    <%end if @goods%>
</div>
<hr>