<%
  create_or_update_url = admin_inventory_logs_path  if action_name == "new"
  create_or_update_url = admin_inventory_log_path(@inventory_log) if action_name == "edit"
%>
<%= form_for @inventory_log,:url=>create_or_update_url,:html => {:class => "form-horizontal"} do |f| %>
  <fieldset>
    <% if @inventory_log.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@inventory_log.errors.count, "error") %> prohibited this page from being saved:</h2>

        <ul>
        <% @inventory_log.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>   
    <div class="control-group">
      <%= f.label :product_id, "产品", :class => "control-label" %>
      <div class="controls">
        <%= f.select :product_id, Product.all.collect {|t| [ t.name, t.id ] }, {:prompt => '请选择产品'}, :class => "span2" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :quantity, "数量", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :quantity, :placeholder => "数量" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :in_out, "出库/入库", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :in_out, :placeholder => "入库/出库" %>
      </div>
    </div>
    
    <div class="control-group">
      <div class="controls">
        <%= f.submit '确定', :class => "button" %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to '返回', admin_inventory_logs_path %>
      </div>
    </div>
  </fieldset>
<% end %>
