<%=form_for :code,:url=>admin_discount_code_path(@code.id),:method=>:put,:html=>{:class=>"form-horizontal"} do |f|%>
  <div class="control-group">
      <%= f.label :code, "特惠码:", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :code ,:readonly=>"true"%>
      </div>
    </div>

    <div class="control-group">
      <%=f.label :status, "是否开启*",:class=>"control-label"%>
      <div class="controls">
        <label class="radio inline">
        <%=f.radio_button :status,true,:checked=>true%> <span>是</span>
        </label>
        <label class="radio inline">
        <%=f.radio_button :status,false%> <span>否</span>
        </label>
      </div>
  </div>

    <div class="control-group">
      <%= f.label :member_id, "医生:", :class => "control-label" %>
      <div class="controls">
      <%if @doctor%>
        <%=f.select :member_id,options_from_collection_for_select(@doctor,:member_id,:name,@code.member_id),{:include_blank=>"请选择"},{:class=>"span3"} %>
      <%else%>
        请先到用户管理指定医生
      <%end%>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
            <%=f.submit "更新",:class=>"btn btn-primary"%>
            &nbsp;&nbsp;&nbsp;
            <%=link_to "返回",admin_members_path%>
        </div>
    </div>
    
<%end%>