<section id="contact">
  <div class="container">
      	<div class="box last">
	        <div class="row">
		        <div class="columns small-12">			
		          	<%if @user.member_lv_id<2 && @user.apply_type>1%>
		          		<!--申请会员 -->
		          		<%if @user.advance ==0%>
			          		<h4>您申请【<%=@member_lv.name%>】信息已经保存，下一步请继续充值：<%=@member_lv.deposit%>元</h4>	
			          	<%else%>
			          		<h4>亲，请等待管理员审核。</h4>
			          	<%end%>

					<%else%>
						<%if @user.advance<500 %>
		          			<h4>您当前的会员卡积分已经少于500元，请尽快充值！</h4>
		          		<%end%>
					<%end%>

					<%if @user.advance<500 %>
						<h3><%=link_to '去充值',add_advance_payments_path(:pay_amount=>@deposit,:pay_app_id=>'wxpay'),:class=>'button button-lg',:style=>'color:white'%></h3>
					<%end%>
					<h5>您当前的会员身份为：<span style="color:green;font-size:16px">&nbsp;<%=@user.member_lv.name%></span></h5>	<br/>
					<h5>您当前的会员卡积分为 : <span style="color:green;font-size:20px">¥<%=@user.advance%></span></h5>				

					<%if @advances && @advances.size > 0%>
						<table class="table table-striped" id="advances_list">
							<tr>
								<th>时间</th>
								<th>事件</th>
								<th>存入金额</th>
								<th>支出金额</th>
								<th>当前余额</th>
							</tr>
							
							<%@advances.each  do |advance|%>
							<tr>
								<td><%=advance.logged_at%></td>
								<td><%=advance.message%></td>
								<td>¥<%=advance.import_money.to_i%></td>
								<td>¥<%=advance.explode_money.to_i%></td>
								<td><b>¥<%=advance.member_advance.to_i%></b></td>
							</tr>
							<%end%>
						</table>
						<div class="pagination">
							<%=will_paginate @advances,:container=>false if @user_coupons%>
						</div>
					<%else%>
						  <div class="no-record">暂无会员卡消费记录</div>
					<%end%>          	
				</div>			
			</div>
		</div>
	</div>
</section>
