<section id="contact">
    <div class="container">
        <div class="box last">
            <div class="row">                    
                <div class="col-sm-12 col-md-6">    
                	<p><%=@flash_message%></p>
                    <h5>您当前的预存款余额为 : <span style="color:green;font-size:20px">&yen;<%=@user.advance%></span></h5>               
                    <%=form_for :discount_code,:url =>coupon_check_member_path, :method=>@method,:html=>{ :role=>"form",:id=>"register_form",data: {type: "script"}} do |f|%>                  
  
                       <div class="row">
                             <div class="col-sm-12">
                                <div class="form-group">
                                    <%=f.text_field :code,:class=>"form-control",:placeholder=>"卡券号码" ,:required=>"required"%>
                                </div>
                                <div class="help-block" rel="user_discount_code"></div>
                            </div>
                        </div>
                        <div class="row">
                             <div class="col-sm-11">
                                <div class="form-group">
                                <%=f.password_field :password,:class=>"form-control",:placeholder=>"密码",:required=>"required"%>
                                </div>
                                <div class="help-block" rel="user_login_password"></div>
                                <P class="frm_tips"></P>
                            </div>
                        </div>     
                         <div class="row">
                            <div class="col-sm-6 col-xs-6"> 
                                     <%=f.submit "添加卡券",:class=>"btn btn-success btn-lg"%>
                            </div>
                             <div class="col-sm-6 col-xs-6 right"> 
                                     <%=link_to "提货专区","/coupon_goods?coupon_id=#{@coupon_id}",:class=>"btn btn-success btn-lg",:style=>"color:white"%>   
                            </div>
                        </div>
                    <%end%>              
                </div><!--/.col-sm-12-->
            </div><!--/.row-->
            <div class="row">
            	<div class="col-sm-12">
            		<table class="table table-striped" id="coupons_list">
					<tr>
						<th>卡券号码</th>
						<th>名称</th>
						<th>有效期</th>
						<th>状态</th>
					</tr>
					
					<%  if @user_coupons && @user_coupons.size > 0%>
						<%@user_coupons.each  do |user_coupon|%>
						<tr>
							<td><%=user_coupon.coupon_code%></td>
							<td><%=user_coupon.coupon_name%></td>
							<td><%#=user_coupon.new_coupon.begin_at.strftime("%Y-%m-%d %H:%M:%S")%> ~ <%#=user_coupon.new_coupon.end_at.strftime("%Y-%m-%d %H:%M:%S")%></td>
							<td><%=user_coupon.status_text%></td>
						</tr>
						<%end%>
					<%else%>
						<tr class="no-record">
							<td colspan="4">您还没有卡券</td>
						</tr>
					<%end%>

				</table>
				<div class="pagination">
					<%=will_paginate @user_coupons,:container=>false if @user_coupons%>
				</div>
            	</div>
            </div>
        </div><!--/.box-->
    </div><!--/.container-->
</section><!--/#contact-->


